/* ========== DEFAULT STYLES ========== */
.btn {
  padding: 0.5rem 1.1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dark {
  border: solid 1px #353c47;
  color: #9ca3af;
}

.primary {
  /* border: solid 1px #353c47; */
  border-radius: 0;
  color: #283d67;
  background-color: #b1cbff;
  font-weight: 500;
}

/* ========== SMALL DEVICES (Phones, portrait mode, < 576px) ========== */
@media only screen and (max-width: 575px) {
}

/* ========== MEDIUM DEVICES (Tablets, landscape mode, 576px - 767px) ========== */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* ========== LARGE DEVICES (Tablets, small laptops, 768px - 991px) ========== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* ========== EXTRA LARGE DEVICES (Laptops, desktops, 992px - 1199px) ========== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* ========== ULTRA WIDE SCREENS (Desktops, 1200px - 1599px) ========== */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
}

/* ========== 4K+ LARGE SCREENS (1600px and above) ========== */
@media only screen and (min-width: 1599px) and (max-width: 1999px) {
}

@media only screen and (min-width: 2000px) {
}

/* ========== LANDSCAPE MODE (for all devices) ========== */
@media only screen and (orientation: landscape) {
}

/* ========== DARK MODE SUPPORT ========== */
@media (prefers-color-scheme: dark) {
}
