.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust based on your layout */
  background-color: rgb(234, 239, 253);
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 5px solid rgba(181, 194, 204, 0.509);
  border-top: 5px solid #2d6082; /* Change color as needed */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
